---
layout: base.njk
---

<div class="container my-5">

  <div class="uo-section">

    <h1 class="mb-2">{{ title }}</h1>

    <p class="text-muted mb-4">
      {{ page.date | readableDate }}
    </p>

    <div class="post-content">
      {{ content | safe }}
    </div>

    <div class="mt-5">
      <a href="/blog/" class="uo-btn btn-sm">← Voltar ao blog</a>
    </div>

  </div>

</div>
