---
layout: base.njk
title: Notícias - Ecos de Sosaria - Servidor Ultima Online Roleplay
pagination:
  data: collections.blog
  size: 20
  reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

<h1 class="text-center my-5">Notícias</h1>


<div class="container">

<input
  type="text"
  id="searchInput"
  placeholder="🔍 Buscar..."
  class="form-control mb-4"
/>

<div id="searchResults"></div>

{% set tagList = collections.all | getAllTags %}

<div class="uo-section mb-4">
  <strong>Tags: </strong>

  {% for tag in tagList %}
    {% if tag != "blog" %}
      <a href="/tags/{{ tag | slug }}/" class="btn-sm me-2">
        #{{ tag }}
      </a>
    {% endif %}
  {% endfor %}
</div>

  <div class="uo-section">

    {% for post in pagination.items %}
      <div class="uo-card mb-4 p-4">

        <h3>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>

        <small class="text-muted">
          {{ post.date | readableDate }}
        </small>

       <div class="post-preview mt-2">
        {{ post.templateContent | safe }}
        
       </div>
        <br>
        <a href="{{ post.url }}" class="uo-btn btn-sm">
          Leia mais →
        </a>

      </div>
    {% endfor %}

    <div class="d-flex justify-content-between mt-5">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" class="uo-btn">← Anterior</a>
      {% endif %}

      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" class="uo-btn">Próxima →</a>
      {% endif %}
    </div>

  </div>

</div>

<script src="https://unpkg.com/lunr/lunr.js"></script>

<script>
let idx = null;
let posts = [];

const input = document.getElementById("searchInput");
const resultsDiv = document.getElementById("searchResults");

fetch("/search.json")
  .then(r => r.json())
  .then(data => {
    posts = data;

    idx = lunr(function () {
      this.ref("url");
      this.field("title");
      this.field("content");
      this.field("tags");

      data.forEach(doc => this.add(doc));
    });
  });

input.addEventListener("input", function () {
  const query = this.value.trim();

  if (!query || !idx) {
    resultsDiv.innerHTML = "";
    return;
  }

  const results = idx.search(query);

  resultsDiv.innerHTML = results.map(r => {
    const post = posts.find(p => p.url === r.ref);

    return `
      <div class="uo-card p-3 mb-2">
        <a href="${post.url}" class="btn-sm">${post.title}</a>
      </div>
    `;
  }).join("");
});
</script>



